//主题尺寸 -----------
$screen-space: .8rem;//屏幕间距

//主题色 ------------
$theme-color-blue: #5851FF;

$theme-color-black: #333333;
$theme-color-gray:  #AAAAAA;
$theme-color-lightGray: #EEEEEE;
$theme-color-grayWhite: #FBFBFB;